body{
    background-image: url(picters/picter.webp);
}
.box {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    margin-bottom: 7px;
    }
    .box1 {
        width: 120px;
        height: 30px;
        border: 1px solid #999;
        font-size: 18px;
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 4px 4px #ccc;
        margin-bottom: 7px;
        margin-top: -10px;
        }
button {
  font-weight: 700;
  color: purple;
  text-decoration: none;
  padding: .2em 1em calc(.3em + 2px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
button:hover { background: rgb(53, 167, 110); }
button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.kvasov-link a {
      color: blue;
      text-decoration: none;
      -webkit-transition: .3s;
    }
    .kvasov-link a:hover {
      color: hotPink;
    }
    @media (-webkit-min-device-pixel-ratio:0) {
    .kvasov-link a {
        background-color: skyBlue;
        background-image: -webkit-linear-gradient(left, hotPink 0%, orange 50%, transparent 50%);
        background-position: 100% 0;
        background-size: 200% 200%;
        color: Purple;
        -webkit-transition: .3s .2s;
        -webkit-background-clip: text;
    font-weight: 700;
      }
    .kvasov-link a:hover {
        background-position: 0 0;
        color: transparent;
        transition: .1s 0;
      }
    }
a{
    font-style:italic;
    Font-family: Calibri;
    font-weight:900;
    color: Purple;
    
}

  .s1 {
    color: Purple;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent; 
    border-top: 1px solid transparent;
  }
  .s1:hover {
    border-bottom: 3px solid lime; 
    border-top: 3px solid lime; 
   }
.text{
    font-style:italic;
    Font-family: Calibri;
    font-weight:900;
    color: Purple;
}
.poisk2{
    background-color: yellow;
    border-radius: 20px;
    border: 10px ridge lime; 
    margin-top: 100px;
    padding-top: 15px;
    width: 200px;
    height: 120px;  
}
.block{
background-color: yellow;
border-radius: 20px;
border: 10px ridge Lime; 
margin-top: 150px;
padding-top: 25px;
width: 500px;
height: 225px;
}
.blockr{
background-color: yellow;
border-radius: 20px;
border: 10px ridge DeepSkyBlue; 
margin-top: 50px;
padding-top: 25px;
width: 600px;
height: 225px;
}
.complete{
    font-style:italic;
    Font-family: Calibri;
    font-weight:900;
    color: Purple;
    margin-top: 35px;
}
.err{
    background-color: red;
    border-radius: 20px;
    margin-top: 0px;
    width: 500px;
    height: 140px;  
}
.d { 
    position:absolute;
    margin-left: 500px;
    bottom: 430px;
 }
 .e{
     position:absolute;
    margin-left: 200px;
    top: 800px; 
 }
.err2{
    padding-top: 40px;
}
.error_avtor {
margin-top: -15px;
}
.dostyp{
    margin-top: 20%;
}
.blocks4{
    background-color: yellow;
    border-radius: 20px;
    border: 10px ridge lime; 
    margin-top: 100px;
    padding-top: 25px;
    width: 600px;
    height: 230px;
    }
.blocks3{
    background-color: yellow;
    border-radius: 20px;
    border: 10px ridge lime; 
    margin-top: 100px;
    padding-top: 25px;
    width: 600px;
    height: 340px;
    }
    .blocks2{
        background-color: yellow;
        border-radius: 20px;
        border: 10px ridge lime; 
        margin-top: 100px;
        padding-top: 15px;
        width: 500px;
        height: 250px;  
    }
    .blocks{
        background-color: yellow;
        border-radius: 20px;
        border: 10px ridge lime; 
        margin-top: 100px;
        padding-top: 25px;
        width: 600px;
        height: 400px;
        }
.result {
    background-color: yellow;
    border-radius: 20px;
    border: 10px ridge lime; 
    margin-top: 50px;
    padding-top: 5px;
    width: 600px;
    height: 50px;  
}
.header {
    position: absolute;
    top: 0px;
    Font-family: Calibri;
    color: green;
    Display: flex;
    Justify-content: space-around;
    background-color: yellow;
    Height: 50px;
    width: 100vw;
}
.header-1 { 
    width: 50%;
    Display: flex;
    Justify-content: space-around;
    transition: 0.5s;
}
.header-1:hover { 
    width: 50%;
    Display: flex;
    background-color:Lime;
    Justify-content: space-around;
}